.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@keyframes spinIn {
	from {
		width: 20%;
	}
	to {
		width: 100%;
	}
}

svg {
	animation: spinIn 0.2s linear 1;
	transform-origin: center;
}

.h2-title,
.h2-company,
.h2-character,
.h2-cast {
	padding: 10px;
	line-height: 35px;
	font-size: 20px;
	color: whitesmoke;
	background-color: rgb(187, 187, 187);
}

.h2-cast {
	background-color: teal;
}

.company,
.title,
.character {
	background-color: rgb(250, 248, 251);
	margin: 15px auto;
}

.title:hover,
.character:hover,
.company:hover {
	background-color: rgba(189, 189, 189, 0.596);
}

.progress,
.progress-bar {
	height: 20px;
	border-radius: 15px;
	width: auto;
	transition: width linear 0.5s;
}

.progress-bar {
	background-color: #287b6c;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.spinPlaceholder {
	width: 100%;
	height: 100%;
	display: flex;
}
.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
